{% extends "base.html" %}
{% block content %}
<h2>Expense Tracker</h2>
<form method="post">
  <input type="text" name="title" placeholder="Title" required>
  <input type="number" step="0.01" name="amount" placeholder="Amount" required>
  <input type="text" name="category" placeholder="Category">
  <input type="date" name="date">
  <button type="submit">Add</button>
</form>

<h3>Expenses:</h3>
<ul>
  {% for e in expenses %}
  <li>{{ e[1] }} - ₹{{ e[2] }} ({{ e[3] }}) on {{ e[4] }}</li>
  {% endfor %}
</ul>
{% endblock %}
